.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 18px;
  padding: 10px 24px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 700;
  opacity: 0.6;
  text-transform: capitalize;
  cursor: pointer;
  &:hover {
    opacity: 1;
    background: rgba(234, 234, 234, 0.4);
  }
}
