@import "./variables.scss";

* {
  box-sizing: border-box;
  outline: none;
}

body {
  margin: 0;
  font-family: $font-family;
  font-size: $font-base-size;
  color: $font-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 28px;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-size: 12px;
  font-weight: 700;
  margin: 0;
}

p {
  font-size: 8px;
}

.main {
  margin-left: 72px;
  padding: 24px;
  min-height: 100vh;
  background-color: #e5e5e5;
}
